<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Sparrow</title>
   <link rel="stylesheet" href="/static/tachyons.min.css" type="text/css">
   <link rel="stylesheet" href="/static/main.css" type="text/css">
   <script type="text/javascript" src="/static/main.js"></script>
 </head>
 <body class="ph3" onload="load_all_elements();">
   <div class="fl w-100">
     <h1>SPARROW</h1>
   </div>
   <div class="fl w-100" id="table_area">
     <div class="fl w-100" id="all_hours_table">
     </div>
     <div class="fl w-100" id="danger_hours_table">
     </div>
     <div class="fl w-100" id="all_weekdays_table">
     </div>
     <div class="fl w-100" id="danger_weekdays_table">
     </div>
   </div>

 </body>
</html>
